In [1]:
import pandas as pd

In [2]:
df_fraude = pd.read_csv('df_es_fraude.csv')

In [5]:
df_fraude

            t_id  es_fraude
0              0      False
1              1      False
2              2       True
3              3       True
4              4      False
...          ...        ...
6362515  6362615       True
6362516  6362616       True
6362517  6362617       True
6362518  6362618       True
6362519  6362619       True

[6362520 rows x 2 columns]

In [15]:
df_fraude.shape

(6362520, 2)

In [3]:
df_alarma = pd.read_csv('df_alarma_fraude.csv')

In [7]:
df_fraude_alarma = pd.merge(df_alarma,df_fraude, how = 'outer')

In [8]:
df_fraude_alarma

            t_id    mensaje_alarma  es_fraude
0        2736446  Detectado_fraude       True
1        3247297  Detectado_fraude       True
2        3760288  Detectado_fraude       True
3        5563713  Detectado_fraude       True
4        5996407  Detectado_fraude       True
...          ...               ...        ...
6362515  6362615               NaN       True
6362516  6362616               NaN       True
6362517  6362617               NaN       True
6362518  6362618               NaN       True
6362519  6362619               NaN       True

[6362520 rows x 3 columns]

In [24]:
df_fraude_alarma_1 = df_fraude_alarma.replace({"Detectado_fraude": True, 'NaN': False})

In [25]:
df_fraude_alarma_1

            t_id mensaje_alarma  es_fraude
0        2736446           True       True
1        3247297           True       True
2        3760288           True       True
3        5563713           True       True
4        5996407           True       True
...          ...            ...        ...
6362515  6362615            NaN       True
6362516  6362616            NaN       True
6362517  6362617            NaN       True
6362518  6362618            NaN       True
6362519  6362619            NaN       True

[6362520 rows x 3 columns]

In [29]:
df_fraude_alarma_1.fillna({'mensaje_alarma': False}, inplace=True)

In [30]:
df_fraude_alarma_1

            t_id  mensaje_alarma  es_fraude
0        2736446            True       True
1        3247297            True       True
2        3760288            True       True
3        5563713            True       True
4        5996407            True       True
...          ...             ...        ...
6362515  6362615           False       True
6362516  6362616           False       True
6362517  6362617           False       True
6362518  6362618           False       True
6362519  6362619           False       True

[6362520 rows x 3 columns]

In [31]:
df_fraude_alarma_1.to_csv('df_fraude_y_alarma', index = False)